header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3.5rem;
    width: 100%;
}

h1 {
    margin: 15px;
    font: 300;
}

ul {
    margin: 15px;
}

li {
    list-style: none;
    display: inline;
    margin : 0 10px;
    font: 300;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    transition: 0.5s ease-in-out;
    font-weight: bolder;
}