<div class="task-sub">
    <input type="text" id="inp" class="add-text" placeholder="Add a new task">
    <button type="submit" class="add">Add</button>
</div>

<div class="messages">
    <div class="message">
        <p class="text">Dummy Message!</p>
        <input type="checkbox" id="" class="check">
    </div>
    <div class="message">
        <p class="text">Dummy Message!</p>
        <input type="checkbox" id="" class="check">
    </div>
    <div class="message">
        <p class="text">Dummy Message!</p>
        <input type="checkbox" id="" class="check">
    </div>
    <div class="message">
        <p class="text">Dummy Message!</p>
        <input type="checkbox" id="" class="check">
    </div>
    <div class="message">
        <p class="text">Dummy Message!</p>
        <input type="checkbox" id="" class="check">
    </div>
</div>
