<div class="task-add-container">
    <div class="add-title-container">
        <input type="text" class="add-title" placeholder="Add a Title" [(ngModel)]="inputTitle">
        <button type="submit" class="add" (click)="onClick()">Add</button> <!-- button to add a new task ... (click) is event, onClick() is function -->
    </div>
    <div clas="add-date-container">
        <input type="text" class="add-text" placeholder="Add a text" [(ngModel)]="inputText">
    </div>
</div>

<div class="tasks-container">
    
    <!-- dummy tasks -->
    <div class="container">
        <div class="task">
            <p class="header">Header</p>
            <input type="checkbox" id="myCheckbox" class="check" (change)="onCheckboxChange($event)">
        </div>
        <div class="text">
            Text
        </div>
        <div class="date">10.10.2025</div>
    </div>

    <div class="container">
        <div class="task">
            <p class="header">COOKIE</p>
            <input type="checkbox" id="myCheckbox" class="check" (change)="onCheckboxChange($event)">
        </div>
        <div class="text">
            COOKIE:
        </div>
        <div class="date">10.10.2025</div>
    </div>

    <!-- data -->
    <!-- <p *ngFor="let task of tasks">{{task.text}}</p>    ngFor => FOR LOOP -->

    <!-- !!!!         IMMER DAS AEUSSERSTE           !!!! -->

    <div class="container" *ngFor="let task of tasks">
        <div class="task">
            <p class="header">{{task.title}}</p>
            <input type="checkbox" id="myCheckbox" class="check" (change)="onCheckboxChange($event)">
        </div>
        <div class="text">
            {{task.text}}
        </div>
        <div class="date">{{task.date}}</div>
    </div>




    







    

